@media screen and (max-width: 576px) {
    nav
    {
        flex-direction: column;
        gap: 2rem;
    }
    nav ul
    {
        flex-direction: column;
    }
    .banner-section, 
    {
        flex-direction: column-reverse;
        margin: 70px 0px 0px 0px;
    }
    .banner-content
    {
        padding: 30px;
        text-align: center;
    }
    .company-section
    {
        margin: 50px 50px;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
        border: none;
        justify-content: space-between;
    }
    .company-section img
    {
        width: 50%;
    }
    .card-section
    {
        margin: 50px 0px;
    }
    .main-card
    {
        display: flex;
        flex-direction: column;
    }
    .card
    {
        padding: 20px;
        width: 100%;
    }
    .featured-section
    {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        margin: 120px 40px;
    }
    .featured-content
    {
        padding: 0%;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
    nav
    {
        flex-direction: column;
        gap: 2rem;
        margin: 40px 0px;
    }
    nav ul 
    {
        gap: 1rem;
    }
    .banner-section
    {
        flex-direction: column-reverse;
        margin: 70px 0px 0px 0px;
    }
    .banner-content
    {
        padding: 30px;
        text-align: center;
    }
    .company-section
    {
        margin: 60px 80px;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 2rem;
        border: none;
        justify-content: space-between;
    }
    .company-section img
    {
        width: 70%;
    }
    .card-section
    {
        margin: 70px 30px;
    }
    .main-card
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-card .last-child 
    {
        grid-column: 2 span;
    }
    .featured-section
    {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        margin: 100px 40px;
    }
    .featured-content
    {
        padding: 0%;
        margin-bottom: 30px;
        margin-top: 50px;
    }
}